@model IEnumerable<WebApplication1.Models.ItemCarrinho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemCarrinhoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemCarrinhoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemCarrinhoId })
        </td>
    </tr>
}

</table>
