﻿@model WebApplication1.Models.Cliente

@{
    Layout = "~/Views/Shared/_LayoutVisitante.cshtml";
    ViewBag.Title = "LOGIN";
}
<head>
    <link href="~/Content/log_in.css" rel="stylesheet" />
</head>

<div>
    <div id="migalha">
        <div id="migalha-margem" class="margem">
            <nav>
                <ol>
                    <li><a href="index.html">HOME</a></li>
                    <li>></li>
                    <li><a href="log_in.html">LOGIN</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <main>
        <div id="log-margem">
            <div class="margem">
                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                {
                    <div class="alert alert-danger">
                        @ViewData["ErrorMessage"]
                    </div>
                }
            <section class="log">
                <div class="tracejada">
                    <div class="fundo-rosa">


                        <div class="logbox">
                            <h1 id="entrar">ENTRAR</h1>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="info">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, "", new { @placeholder = "Email" })

                                </div>
                                <div class="info">
                                    @Html.LabelFor(m => m.Senha)
                                    @Html.TextBoxFor(m => m.Senha, new { @placeholder = "Senha" })
                                </div>

                                <p>* Não tenho uma conta - <br> <a href="/Home/SignIn">CRIAR CONTA</a></p>
                                <p>* <a href="senha.html">Esqueci minha senha</a></p>
                                <p class="tipo-log">
                                    * Sou vendedor  <input 
                                                           id="IsVendedor"
                                                           name="IsVendedor"
                                                           type="checkbox"
                                                           value="false" />
                                </p>

                                <div class="info" id="input-enviar">
                                    <input id="enviar" type="submit" name="submit" class="btn btn-primary" value="ENTRAR" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
                        
            </section>
            </div>

        </div>

    </main>

</div>
    