@model WebApplication1.Models.Denuncia

@{
    Layout = "~/Views/Shared/_LayoutVisitante.cshtml";
    ViewBag.Title = "PRODUTO";
}
<head>
    <link href="~/Content/produto.css" rel="stylesheet" />
    <link href="~/Content/denunciar.css" rel="stylesheet" />
</head>

<div>
    <div id="esmaecer"></div>

    <div id="migalha">
        <div id="migalha-margem" class="margem">
            <nav>
                <ol>
                    <li><a href="/Home/Index">HOME</a></li>
                    <li>></li>
                    <li><a href="categorias.html">Acessórios</a></li>
                    <li>></li>
                    <li><a href="/Home/Index">PRODUTO NÃO SEI OQ NÃO SEI OQ LÁ</a></li>
                </ol>
            </nav>
        </div>
    </div>

    <main>
        <section id="descricao-produto">
            <div class="margem">
                <div id="imgs-prod">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="50000">
                                <figure><img src="~/Content/imagens/produto/ex-produto.png" class="d-block w-100" alt="..."></figure>
                            </div>
                            <div class="carousel-item" data-bs-interval="50000">
                                <figure><img src="~/Content/imagens/produto/ex-produto.png" class="d-block w-100" alt="..."></figure>
                            </div>
                            <div class="carousel-item" data-bs-interval="50000">
                                <figure><img src="~/Content/imagens/produto/ex-produto.png" class="d-block w-100" alt="..."></figure>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <section>
                    <h2>PRODUTO NÃO SEI OQ NÃO SEI OQ LÁ</h2>
                    <div>
                        <figure><img src="~/Content/imagens/produto/fivestar.png" /></figure>
                        <h4>3 vendidos</h4>
                        <h4>2 avaliações</h4>
                    </div>

                    <div>
                        <h3>R$ 27,99</h3>
                        <h4>quantidade:</h4>
                        <div id="qnt">
                            <p>-</p>
                            <span>1</span>
                            <p>+</p>
                        </div>
                        <h4>3 disponíveis</h4>
                    </div>

                    <div id="fav-den">
                        <p><img src="~/Content/imagens/produto/coracao-preenchido.png" width="35" /> Favoritar</p>
                        <p><a href="javascript:abrirdenuncia()"><img src="~/Content/imagens/produto/denunciar.png" width="30" /> Denunciar</a></p>
                        <p><a href="chat.html"><img src="~/Content/imagens/produto/chat-icon.png" /> Chat</a></p>
                    </div>


                    <div>
                        <div class="botao">
                            <input type="submit" value="Comprar agora" />
                        </div>
                        <div class="botao">
                            <input type="submit" value="Adicionar ao carrinho" />
                        </div>
                    </div>
                </section>
        </section>

        <section id="detalhes-produto">
            <div class="margem">
                <h1>Detalhes</h1>
                <h4>Informações:</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a nulla sed dui convallis volutpat nec at sem. Proin sit amet nunc ut urna facilisis malesuada ac sed tortor. Donec ultrices sed nisi ac vehicula. Nullam sed auctor odio. Vestibulum vulputate placerat eros, vitae egestas neque finibus sed. Nam et quam magna. Etiam consectetur sem nec nisl porttitor euismod.</p>
            </div>
        </section>


        <section id="avaliacao-produto">
            <div class="margem">
                <h1>Avaliações</h1>
                <section>
                    <div>
                        <figure>
                            <img src="~/Content/imagens/produto/avaliacao1.png">
                        </figure>
                        <div>
                            <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                            <p><a href="#">ver fotos</a></p>
                            <figure><img src="~/Content/imagens/produto/fivestar.png" width="165" /></figure>
                            <p>10/10/2010</p>
                        </div>
                    </div>

                    <div>
                        <figure>
                            <img src="~/Content/imagens/produto/avaliacao1.png">
                        </figure>
                        <div>
                            <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                            <p><a href="#">ver fotos</a></p>
                            <figure><img src="~/Content/imagens/produto/fivestar.png" width="165" /></figure>
                            <p>10/10/2010</p>
                        </div>
                    </div>
                </section>
                <p id="vermais"><a href="#">Ver mais...</a></p>
            </div>
        </section>

        <section id="vendedor">
            <div class="margem">
                <div>
                    <span>
                        <h2>Loja A</h2>
                        <p class="ava">4.5 <img src="~/Content/imagens/categorias/star.png" /></p>
                    </span>
                    <p class="info">vendas no último mês: <b>140</b></p>
                    <p class="info">respostas no chat: <b>140</b></p>
                    <p>Online a 5 minutos atrás</p>
                    <p class="info">Descrição:</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a nulla sed dui convallis volutpat nec at sem. Proin sit amet nunc ut urna facilisis malesuada ac sed tortor. Donec ultrices sed nisi ac vehicula. Nullam sed auctor odio. Vestibulum vulputate placerat eros, vitae egestas neque finibus sed. Nam et quam magna. Etiam consectetur sem nec nisl porttitor euismod.</p>
                </div>
                <figure>
                    <img src="~/Content/imagens/categorias/foto-loja.png" />
                </figure>
                <img id="mouse" src="~/Content/imagens/produto/mouse-click.png" />
            </div>
        </section>

        <section id="prod-similares">
            <h1>Similares</h1>
            <div class="margem">
                <div>
                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="~/Content/imagens/categorias/ex-roupa.png" />
                        </figure>
                        <div>
                            <h3>Nome do Produto</h3>
                            <h4>R$ 25,00</h4>
                        </div>
                        <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                        <div>
                            <figure>
                                <img src="~/Content/imagens/categorias/5 estrelas.png" />
                            </figure>
                            <div>
                                <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                <img src="~/Content/imagens/categorias/add-car.png" />
                            </div>
                        </div>
                    </div>

                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="~/Content/imagens/categorias/ex-roupa.png" />
                        </figure>
                        <div>
                            <h3>Nome do Produto</h3>
                            <h4>R$ 25,00</h4>
                        </div>
                        <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                        <div>
                            <figure>
                                <img src="~/Content/imagens/categorias/5 estrelas.png" />
                            </figure>
                            <div>
                                <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                <img src="~/Content/imagens/categorias/add-car.png" />
                            </div>
                        </div>
                    </div>

                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="~/Content/imagens/categorias/ex-roupa.png" />
                        </figure>
                        <div>
                            <h3>Nome do Produto</h3>
                            <h4>R$ 25,00</h4>
                        </div>
                        <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                        <div>
                            <figure>
                                <img src="~/Content/imagens/categorias/5 estrelas.png" />
                            </figure>
                            <div>
                                <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                <img src="~/Content/imagens/categorias/add-car.png" />
                            </div>
                        </div>
                    </div>
                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="~/Content/imagens/categorias/ex-roupa.png" />
                        </figure>
                        <div>
                            <h3>Nome do Produto</h3>
                            <h4>R$ 25,00</h4>
                        </div>
                        <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                        <div>
                            <figure>
                                <img src="~/Content/imagens/categorias/5 estrelas.png" />
                            </figure>
                            <div>
                                <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                <img src="~/Content/imagens/categorias/add-car.png" />
                            </div>
                        </div>
                    </div>
                    <div class="card-produto">
                        <figure class="img-prod">
                            <img src="~/Content/imagens/categorias/ex-roupa.png" />
                        </figure>
                        <div>
                            <h3>Nome do Produto</h3>
                            <h4>R$ 25,00</h4>
                        </div>
                        <p>descrição pipipi popopo hcabhhhhhhhhhhh</p>
                        <div>
                            <figure>
                                <img src="~/Content/imagens/categorias/5 estrelas.png" />
                            </figure>
                            <div>
                                <img src="~/Content/imagens/categorias/coracao-rosa.png" />
                                <img src="~/Content/imagens/categorias/add-car.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <p id="vermais2"><a href="#">Ver mais...</a></p>
            </div>
        </section>

    </main>
    <!--<section class="denuncia">

    </section>-->
    <section id="denuncia">
        <div id="titulo-denuncia">
            <h2>por qual razão você deseja denunciar este produto?</h2>
            <p><a href="javascript:fechardenuncia()">x</a></p>
        </div>
        <!--
            <div id="razoes">
            <label><input type="checkbox" name="razão" value="inapropriado" />Produto inapropriado pipipi</label>
            <label><input type="checkbox" name="razão" value="inapropriado" />Produto inapropriado pipipi</label>
            <label><input type="checkbox" name="razão" value="inapropriado" />Produto inapropriado pipipi</label>
            <label><input type="checkbox" name="razão" value="inapropriado" />Produto inapropriado pipipi</label>
            <label><input type="checkbox" name="razão" value="inapropriado" />Produto inapropriado pipipi</label>
            <label><input type="checkbox" name="razão" value="outras" />Outras</label>
        </div>
        -->
        @using (Html.BeginForm("Denunciar", "Home", FormMethod.Post))
        {
            <div id="razoes">
                <label>
                    @Html.CheckBoxFor(d => d.Razao1)
                    Produto inapropriado pipipi
                </label>
                <label>
                    @Html.CheckBoxFor(d => d.Razao2)
                    Produto inapropriado pipipi
                </label>
                <label>
                    @Html.CheckBoxFor(d => d.Razao3)
                    Produto inapropriado pipipi
                </label>
                <label>
                    @Html.CheckBoxFor(d => d.Razao4)
                    Produto inapropriado pipipi
                </label>
                <label>
                    @Html.CheckBoxFor(d => d.Razao5)
                    Produto inapropriado pipipi
                </label>
                <label>
                    @Html.CheckBoxFor(d => d.Razao6)
                    Outras
                </label>
            </div>

            <div id="denuncia-textarea">
                <h2 id="comentario-label">Dê mais detalhe da sua denuncia:</h2>
                @Html.TextAreaFor(d => d.Conteudo)
            </div>
            <div class="botao">
                <input type="submit" value="Denunciar" id="botao1" />
                <input type="submit" value="Cancelar" id="botao2" />
            </div>
        }
    </section>

</div>
   
  